@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat&family=Roboto&display=swap');

$small: 376px;

//font-family: 'Calligraffitti', cursive;
//font-family: 'Roboto', sans-serif;
//font-family: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.preHeader {
  height: 5vh;
  background-color: orangered;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    color: white;
  }
}

.navbarDiv {
  font-family: sans-serif;
  margin-top: 7vh;
  padding-left: 10vw;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4vw;

  @media screen and (max-width: 992px) {
    margin-top: 0;
    padding-left: 0;
  }
  @media screen and (max-width: 600px) {
    margin-top: 0;
    padding-left: 0;
    font-size: 4vw;
  }
}

.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-shadow: -2px 2px 5px grey;
    color: rgb(49, 44, 44);
    font-family: sans-serif;
    margin-top: 5vh;
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: -3px;
    margin-bottom: 5vh;
    @media screen and (max-width: 991px) {
      font-size: 10vw;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  }
}

.colored {
  color: orangered;
}
.homepageSlika {
  height: 70vh;
  background: rgb(188, 184, 184);
  background-image: url(./images/2ea94c82a0fa7f0090c4e5cfefc165e4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 85%;
  @media screen and (max-width: 600px) {
    background-position: 40%;
  }
}
.homepageText {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    padding: 3vh 3vw;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2vw;
    color: white;
    text-shadow: 5px 2px 10px black;
  }
  @media screen and (max-width:600px) {
    display:none;
  }
}

.homepageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 20%;
  background-color: orangered;
  border-radius: 15px;
  padding: 15px;
  font-size: 1.5vw;
  @media screen and (max-width:900px) {
    font-size: 1.3vw;
  }
  
}


.footer {
  background-color: rgb(73, 73, 73);
  .footerLink{
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: 5px;
    &:hover{
      color: orangered;
    }
  }
}

//page not found

.pnf{
  display: flex;
  min-height:65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pnf-title{
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading{
  font-weight: normal;
}
.pnf-btn{
  color: white;
  background-color: orangered;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
 text-decoration: none;
 &:hover{
  color: white;
  
 }
}