@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.helloText {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.prodPic {
  height: 225px;
  width: 225px;
}

.colProd {
  display: flex;
  justify-content: center;
  height: 35vh;
  align-items: center;
}

.cartSummary {
  background-color: #ffcc44;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5vh;
  height: max-content;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .cartSummary {
    border-radius: 0px;
  }
}
.cartSummary button {
  margin: 3vh;
}

@media screen and (max-width: 600px) {
  .wrapAround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}