@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.naslovContact {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffcc44;
  padding: 10vh;
  border-radius: 50px;
  border: 1px solid black;
}
.contact form input {
  width: 100%;
}
.contact form textarea {
  width: 100%;
  margin-bottom: 4vh;
}