@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.navContainer {
  background-color: orange;
  width: 80%;
  border: 3px solid darkgrey;
  border-top: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 2px 10px rgb(144, 136, 136);
}
.navContainer img {
  height: 5vh;
}
.navContainer .navbar {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
}
.navContainer .navigacija {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ikonica {
  vertical-align: bottom;
  font-size: 1.2rem;
  padding: 5px;
}

.dropDiv {
  position: relative;
}

.iconContainer {
  position: absolute;
  top: 7px;
  left: -20px;
}
@media screen and (max-width: 992px) {
  .iconContainer {
    left: -30px;
  }
}