@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.desc {
  font-family: "Montserrat", sans-serif;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}