.colwrap {
  padding: 5vh;
}
.colwrap h1 {
  font-family: "Montserrat", sans-serif;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5vh;
}

.product-card .card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .card-img-top {
  flex-shrink: 0;
  height: 225px;
  object-fit: cover;
}

.product-card .card-body {
  flex-grow: 1;
}

.product-card .card-title {
  font-weight: bold;
}

.product-card .card-text {
  flex-grow: 1;
}