@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.shopIntro {
  margin: 10vh auto;
  height: 50vh;
  width: 80%;
  background-color: #ffcc44;
  box-shadow: 2px 2px 10px black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shopIntro p {
  width: 70%;
  text-align: center;
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
}
@media screen and (max-width: 992px) {
  .shopIntro p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .shopIntro p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .shopIntro p {
    font-size: 1rem;
  }
}

.shopColLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 2px 2px 10px black;
  padding: 5vh;
  align-items: start;
  height: max-content;
  background-color: beige;
}
@media screen and (max-width: 992px) {
  .shopColLeft {
    align-items: center;
  }
}

h4 {
  font-family: "Montserrat", sans-serif;
}

.dumgeReset {
  background-color: #00acc6;
  border: none;
}
.dumgeReset:hover {
  background-color: #00acc6;
  box-shadow: 2px 2px 10px #00acc6;
}

.allProd {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-shadow: 2px 2px 10px #ffcc44;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.cards-container .card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
}

.cards-container .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cards-container .card-title,
.cards-container .card-text {
  flex: 1;
}

.cards-container .card-img {
  height: 225px;
  object-fit: contain;
}

.detail {
  background-color: #00acc6;
}
.detail:hover {
  background-color: #00acc6;
  box-shadow: 2px 2px 10px #00acc6;
}

.shopBtn {
  background-color: #ff8200;
  border: 1px solid black;
}

.dugmDonje {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dugmDonje .loadMoreBtn {
  background-color: #ffcc44;
  color: black;
  border: 1px solid black;
  margin: 0 auto;
}