@use 'variables';

.adminDash {
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: start;
  padding: 10vh;
  margin: 10vh;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
  border-radius: 50px;
}
