@use 'variables';

.naslovContact {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variables.$thirdColor;
    padding: 10vh;
    border-radius: 50px;
    border: 1px solid black;
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
      margin-bottom: 4vh;
    }
  }
}
